body {
  margin: 0;
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#maze {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(7, 40px);
  gap: 2px;
  margin-top: 20px;
}

.cell { width: 40px; height: 40px; }
.wall { background: #020617; }
.path { background: #334155; }

.player-img {
  background-image: url("images/personaje.png");
  background-size: cover;
}

.goal-img {
  background-image: url("images/novia.png");
  background-size: cover;
}

.heart {
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from { filter: drop-shadow(0 0 4px pink); }
  to { filter: drop-shadow(0 0 10px hotpink); }
}

/* RECUERDO PANTALLA COMPLETA */
#recuerdo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* TRIVIA */
#opciones button {
  margin: 6px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#opciones button:hover {
  background-color: #22c55e;
  color: black;
}

#recuerdo img,
#recuerdo video {
  max-width: 90%;
  max-height: 70%;
  border-radius: 10px;
  margin-bottom: 15px;
}

#recuerdo button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
  pointer-events: none !important;
}
